################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JadwaEmailConnector/config
/JadwaEmailConnector.Web/bin/Debug/net6.0
/JadwaEmailConnector.Application/obj/Debug/net6.0
